*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container{
  padding-top: 150px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  
}
.boxes{
  display: flex;
  align-items: center;
  cursor: pointer;
  /* justify-content: center; */
  gap: 8px;
}
.child{
  height: 100px;
  width: 100px;
  border: 2px solid;
}



.child:nth-child(1){
  background-color: gray;
}



.child:nth-child(2){
  background-color: white;
}


.child:nth-child(3){
  background-color: blue;
}


.child:nth-child(4){
  background-color: yellow;
}